li{
    list-style: none;
    display: inline;
}

a{
    text-decoration: none;
}

.NavBar{
    display: flex;
    background-color: rgb(25, 151, 215);
    width: 99vw;
    padding: 0.5rem;
}

.NavBar-logo{
    background-image: url(/public/assets/spaceDistortions.webp);
    background-size: contain;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.Menu-items-cont{
    display: flex;
    width: 80vw;
}

.Menu-items-cont a{
    width: 200px;
}
.Menu-item{
    margin: 1rem;
    color: white;
    padding: 1rem;
}

.Menu-item:hover{
    background-color: rgb(15, 91, 129);
    border-bottom: 3px solid rgb(250, 192, 1);
    border-radius: 24px;
}

.Search-Bar{
    display: flex;
    align-items: center;
}
.Search-Bar input{
    height: 1rem;
}

/* Item List Container */

.ItemListContainer{
display: grid;
grid-template-columns: repeat(5,1fr);
width: 70vw;
margin: 100px
}

.titulo{
color: blue;
text-align: center;
margin-top: 50px;
}

.productCard{
display: flex;
flex-direction: column;
margin: 20px;
}

img{
width: 250px;
height: 300px;
margin: auto;
}

.BuyBtn{
width: 100px;
margin: auto;

}

p{
margin: auto;
}

.CartIcon{
    font-size: 2.5rem;
    color: white;
    margin: 0px 10px 0px 10px;
}

.CartCounter{
    position: relative;
    color: rgb(24, 16, 98);
    margin-top: -25px;
    margin-left: 45px;
    font-weight: bold;
    background-color: yellow;
    border-radius: 50%;
    width: 20px;
    opacity: 0.8;
    text-align: center;
}

.ItemCounter{
    display: flex;
}

/* ItemCounter */ 

/* ITEM DETAILS */

.detailsOuterContainer{

}

.detailsContainer~p{
}

.detailsContainer, h4{
    margin-top: 0;
}

.detailsContainer{
    display: flex;
    width: 70vw;
    margin: auto;
}

.price{
    margin-top: 1rem ;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    border-radius: 12px;
}

.product-description{
    background-color: rgb(25, 151, 215);
    width: 40vw;
    margin: auto;
    padding: 2rem;
    border-radius: 24px;
}

.detailTitle{
    background-color: black;
    color: white;
}

.detailCategory{
    background-color: yellow;
    width: 10rem;
    padding: 1rem;
    border-radius: 12px;
    margin: auto;
    color: black;
}

@media only screen and (max-width: 900px) {
    .NavBar{
        flex-direction: column;
        align-items: center;
    }
    .NavBar-logo{
        margin-left: -10px;
        margin: auto;
        background-repeat: no-repeat;
    }
    .Menu-items-cont{
        flex-direction: column;
    }
    .Menu-item{
        padding:0rem;
    }
    .Menu-items-cont a{
        display: block;
        min-width: fit-content;
        text-align: center;
        margin-left: -40px;
    }
    .Menu-items-cont li{
        line-height: 2rem;
    }

    .Search-Bar{
        margin: auto;
    }
    .CartIcon{
        margin-top: 30px;
    }
    .ItemListContainer{
        grid-template-columns: 1fr;
    }
  }
